<ion-view class="bookmarklist-view">
  <ion-content class="homepage">
  
    <h2 class="heading-todays" ng-if="bookmarkItems.length > 0"><span>Bookmarks</span></h2>
    <ion-list class="todays-news" ng-if="bookmarkItems.length > 0">
      <ion-item ng-repeat="bookmarkItem in bookmarkItems"  style="background: url({{bookmarkItem.thumbnail}}) #000 no-repeat center; background-size: contain;">
        <button class="button icon ion-ios-close-empty remove-bookmark-btn"
        ng-click="removeBookmark(bookmarkItem.id)"></button>
        <span like-btn newsid="bookmarkItem.id" likes="bookmarkItem.likes"></span>
        <a ui-sref="app.news({id: bookmarkItem.id})" class="item-content">
         
          <h3>{{bookmarkItem.title}}</h3>
        </a>        
      </ion-item>
    </ion-list>
  
    <div class="row bookmark-empty-container" ng-if="bookmarkItems.length<1">
      <div class="col col-center">
        <div class="bookmark-empty">
          <i class="ion ion-bookmark"></i>
        </div>
        <h3>Nothing added in the bookmark. Start explore.</h3>
      </div>
    </div>
   

  </ion-content>
</ion-view>
