<ion-view >
  <!-- <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons>
  </ion-nav-bar> -->


  <ion-content class="homepage"  overflow-scroll="true">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="pullToData()">
    </ion-refresher>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-if="isLoaded">
      <ion-slide ng-repeat="item in featureNews">
        <a class="img-place" ui-sref="app.news({id: item.id})" style="background-image: url({{item.thumbnail}})" >
        	<h3>{{item.title}}</h3>
        	<h4 class="feature-news">Featured</h4>
        </a>
      </ion-slide>
    </ion-slide-box>

		<h2 class="heading-todays"><span>Latest News</span></h2>
		<ion-list class="todays-news">
		  <ion-item  
      ng-repeat="news in newslist" 
      >
      <a ui-sref="app.news({id: news.id})" class="item-content">
        <!-- <div class="image"
        image-lazy-src="{{imageURL}}{{news.image}}" 
        image-lazy-background-image="true"
        image-lazy-loader="lines">
        </div> -->
        <div class="image" style="background-image: url('{{news.thumbnail}}')">
        </div>
        <h3>{{news.title}}</h3>
      </a>
		  </ion-item>
		</ion-list>   
    <ion-infinite-scroll 
    ng-if="loadMore"
    on-infinite="infinteLoad()"
    icon="ion-loading-c">
    </ion-infinite-scroll>
		
  </ion-content>
</ion-view>
