<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-title class="logo">
        <a href="#/app/home"><img src="img/logo.png"></a>
      </ion-nav-title>
      <ion-nav-buttons side="left">
        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button> -->
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right" ng-click="showSubMenu = !showSubMenu"></button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.home">
            <i class="ion-ios-home-outline"></i>News
        </ion-item>
        <ion-item menu-close ui-sref="app.reviews">
            <i class="ion-ios-home-outline"></i>Reviews
        </ion-item>
        <ion-item ng-click="showSubMenu = !showSubMenu">
          <i class="ion-ios-list-outline"></i>Category
          <ion-list ng-show="showSubMenu" class="submenu">
            <ion-item menu-close class="submenu" ui-sref="app.movies">
              <i class="ion-android-send"></i>Movies
            </ion-item>
            <ion-item menu-close class="submenu" ui-sref="app.tv">
              <i class="ion-android-send"></i>TV
            </ion-item>
            <ion-item menu-close class="submenu" ui-sref="app.games">
              <i class="ion-android-send"></i>Games
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item ng-click="showSubMenu = !showSubMenu">
          <i class="ion-ios-videocam-outline"></i>Videos
          <ion-list ng-show="showSubMenu" class="submenu">
            <ion-item menu-close class="submenu" ui-sref="app.moviesTrailers">
              <i class="ion-android-send"></i>Movies trailers
            </ion-item>
            <ion-item menu-close class="submenu" ui-sref="app.tvTrailers">
              <i class="ion-android-send"></i>TV trailers
            </ion-item>
            <ion-item menu-close class="submenu" ui-sref="app.gamesTrailers">
              <i class="ion-android-send"></i>Games trailers
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item menu-close ui-sref="app.bookmarklist">
          <i class="ion-ios-book-outline"></i>Bookmarks
        </ion-item>
        <ion-item menu-close ng-click="promtRate()">
          <i class="ion-ios-star-half"></i>Rate App
        </ion-item>
        <ion-item menu-close ng-click="pullToData()">
          <i class="ion-android-refresh"></i>Refresh
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <i class="ion-android-search"></i>Search
        </ion-item>
        <ion-item menu-close ui-sref="app.admob">
          <i class="ion-cash"></i>Admob
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
