<ion-view >
  <ion-content class="homepage" lazy-scroll>

    <h2 class="heading-todays"><span>News</span></h2>
    <ion-list class="todays-news">
      <ion-item ng-repeat="singleNews in newslist" ui-sref="app.news({id: singleNews.id})" style="background: url({{imageURL}}{{singleNews.image}}) #000 no-repeat center; background-size: contain;">
        <h4 class="likes"><i class="ion-heart"></i>{{singleNews.likes}}</h4>
        <h3>{{singleNews.heading}}</h3>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
