<ion-view >
  <ion-content class="homepage" lazy-scroll>

    <h2 class="heading-todays"><span>Videos</span></h2>
    <ion-list class="todays-news">
      <ion-item ng-repeat="singleVideo in data" ui-sref="app.video({id: singleVideo.id})" style="background: url({{singleVideo.image}}) #000 no-repeat center; background-size: contain;">
        <h4 class="likes"><i class="ion-heart"></i>{{singleVideo.likes}}</h4>
        <h3>{{singleVideo.heading}}</h3>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>